!!!
%html
  %head
    %title Reminder
    = stylesheet_link_tag    "application", media: "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .row-fluid
      .span10.offset1
        .hero-unit.text-center
          %h1
            Reminder
          %p
            Welcome to the tutorial's ToDo application
          = link_to 'New Task', new_task_path,  class:  'btn btn-primary input-large', remote: true
    = yield
